* {
    box-sizing: border-box;
  }
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
label {
  color: lightgray;
}
.login h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
input[type=text], [type = password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=text]:focus, [type = password]:focus {
    border: 3px solid #555;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: teal;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
 }