<div class = "signup">
    <h2>Registration Form</h2>
    <form class = "container"[formGroup] = 'Register'(ngSubmit) = "assignUser()">
        <label>First Name</label>
        <input type="text" formControlName = "firstName"/><br/>
        <label>Last Name</label>
        <input type="text" formControlName = "lastName"/><br/>
        <label>Username</label>
        <input type="text" formControlName = "user"/><br/>
        <label>Password</label>
        <input type="password" formControlName = "pass"/><br/>
        <input type="submit" value="submit" class = "btn-primary"/> 
    </form>
</div>
