* {
    padding: 1px;
    margin: 2px;
    font-family:monospace;
}
.text, h4, h2 {
    text-align: center;
    background-color: rgb(0, 128, 128);
    color: white;
}
span {
    text-align: center;
    font-weight: bold;
}
.question-container {
    background-color:rgba(0, 128, 128, 0.23);
}
.container-fluid:hover {
    background-color: rgba(0, 128, 128, 0.23);
}

.question-option {
text-align:left;
}

button {
    color: white;
    background-color:rgb(0, 128, 128);
}