<div id="quiz">
  <h2 class="text">{{quiz.name}}</h2>
  <hr />
  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class = "question-container">
      <span class="quest" [innerHTML]="question.name"></span>
    </div>
      <hr>
      <div class="row">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="container-fluid">
            <label class="question-option" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                (change)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2 class = "text">Quiz Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div>
        <h5>{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
            {{Option.name}}
          </div>
        </div>
        <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is
          {{isCorrect(question)}}.</div>
      </div>
    </div>
    <h4>You may close this window now.</h4>
  </div>
  <hr />
  <div *ngIf="mode!='result'">
    <button class="btn rounded-pill bg-info" (click)="onSubmit();">Submit Quiz</button>
  </div>
</div>