<div>
    <h2>Add Task and Employee Details</h2>
    <form #storeTask = 'ngForm' (ngSubmit) ="storeUser(storeTask.value)">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text" name = 'id' ngModel/>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name = 'name' ngModel/>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput type="text" name = 'task' ngModel/>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Deadline</mat-label>
            <input matInput type="date" name = 'deadline' ngModel/>
        </mat-form-field>
        <br>
        <button mat-stroked-button style="background-color:teal;" type = "submit">Store</button>
    </form>
</div>
